.Loader_spinner {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 899999;
  background: #80808028;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loadering {
  width: 50px !important;
  height: 50px !important;
}
